# Conexión a MongoDB (la EC2 de MongoDB del Exp 1)
MONGO_URI=mongodb://<mongo-host>:27017
MONGO_DB=bite
MONGO_POOL=20
# Puerto del servicio
PORT=3000
# Para sembrar/materializar (scripts)
TOTAL_DOCS=10500000
BATCH_SIZE=50000
